:root {
  --primary-color: #393e46;
  --secondary-color: #ececec;
  --primary-font-family: "EB Garamond", serif;
}
body {
  font-family: var(--primary-font-family);

  color: var(--primary-color);
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 40px;
  font-weight: normal;
}
p {
  font-size: 25px;
  opacity: 0.7;
}
.btn-customised {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  font-style: italic;
  background-color: var(--primary-color);
  padding: 10px 15px;
}
.coffee-img {
  max-width: 60%;
}
.about-hero {
  padding: 120px 20px;
}
.about-hero h1 {
  font-size: 80px;
}
.about-hero h2 {
  font-size: 30px;
}
.about-hero p {
  font-size: 25px;
}

.portfolio-picture {
  max-width: 70%;
}
@media (max-width: 900px) {
  .hero {
    padding: 80px 10px;
  }
  h1 {
    font-size: 76px;
  }
}
