:root {
  --primary-color: #393e46;
  --secondary-color: #ececec;
  --primary-font-family: "EB Garamond", serif;
}
body {
  font-family: var(--primary-font-family);

  color: var(--primary-color);
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
h1 {
  font-size: 96px;
  text-align: center;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
h4 {
  font-size: 48px;
}
p {
  font-size: 25px;
  opacity: 0.7;
}
.btn-customised {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  font-style: italic;
  background-color: var(--primary-color);
  padding: 10px 15px;
}
.coffee-img {
  max-width: 60%;
}
.content-container {
  padding: 120px 20px;
}
.content-container h1 {
  font-size: 80px;
}
.content-container h2 {
  font-size: 30px;
}
.content-container p {
  font-size: 25px;
}

.portfolio-picture {
  max-width: 70%;
  margin-left: 100px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
}
nav a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
nav li.active a {
  font-weight: bold;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link {
  font-size: 24px;
  color: var(--primary-color);
  text-decoration: none;
}
footer .email-link:hover {
  text-decoration: underline;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 76px;
  }
  h4 {
    font-size: 20px;
  }
  .hero {
    padding: 80px 10px;
  }
  .portfolio-picture {
    margin: 20px 0;
    text-align: center;
  }
  footer .contact-box {
    padding: 30px 120px;
  }
  footer .contact-box p {
    font-size: 18px;
  }
}
